<div class="col-md-6 col-md-offset-3 panel-body">
    <div>
        <h2>Content management system</h2>

        <p>Monster</p>

        <div>
            <button ng-click="updateMonsterHealth()"> Update Monster Health </button>
            <input type="text" ng-model="monsterHealth"/>
        </div>

        <div>
            <button ng-click="updateMonsterSpeed()"> Update Monster speed </button>
            <input type="text" ng-model="monsterSpeed"/>
        </div>

        <div>
            <button ng-click="updateMonsterArmor()"> Update Monster Armor </button>
            <input type="text" ng-model="monsterArmor"/>
        </div>
    </div>
</div>

<!-- a garder -->
