<div class="col-md-6 col-md-offset-3 panel-body">
    <div>
        <h2>Content management system</h2>

        <p>Monster</p>

        <div>
            <button ng-click="content()"> Update Monster Health </button>
            <input type="password" id="monsterHealth" class="form-control" ng-model="monsterHealth"/>
        </div>

        <div>
            <button ng-click="content()"> Update Monster speed </button>
            <input type="password" id="monsterSpeed" class="form-control" ng-model="monsterSpeed"/>
        </div>

        <div>
            <button ng-click="content()"> Update Monster Armor </button>
            <input type="password"  id="monsterArmor" class="form-control" ng-model="monsterArmor"/>
        </div>
    </div>
</div>

<!-- a garder -->
