<div class="col-md-6 col-md-offset-3 panel-body">
    <div>
        <h2>Content management system</h2>

        <p>Monster</p>

        <div class="buttonDiv">
            <button class="contentButton" ng-click="updateMonsterHealth()"> Update Monster Health </button>
            <input class="contentText" placeholder="1-100 ( Millions )" type="text" ng-model="monsterHealth"/>
            <label ng-model="monsterHealthValue">{{monsterHealthValue}}</label>
        </div>

        <div class="buttonDiv">
            <button class="contentButton" ng-click="updateMonsterSpeed()"> Update Monster speed </button>
            <input class="contentText" placeholder="1-10" type="text" ng-model="monsterSpeed"/>
        </div>

        <div class="buttonDiv">
            <button class="contentButton" ng-click="updateMonsterArmor()"> Update Monster Armor </button>
            <input class="contentText" placeholder="1-5" type="text" ng-model="monsterArmor"/>
        </div>

        <div class="gif">
            <a href="default.asp">
                <img src="components/images/cookie-monster-o.gif">
            </a>
        </div>
    </div>
</div>

<!-- a garder -->
