<div class="page-header">
    </div>
<div>
    <div class="row">
        </br>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">

            <h5>Please select type of update</h5>

            <div>
                <select class="form-control" name="updateSelect" id="updateSelect" ng-model="selectedUpdateType"
                        ng-change="typeChanged(selectedUpdateType)">
                    <option ng-repeat="updateType in updateTypes" value="{{updateType}}">{{updateType.commonName}}
                    </option>
                </select>
            </div>
            <div ng-if="selectedUpdateType">
                <h5>Please select a monster</h5>
                <select class="form-control" name="bossSelect" id="bossSelect" ng-model="selectedBoss"
                        ng-change="bossChanged(selectedBoss)">
                    <option ng-repeat="boss in bosses" value="{{boss}}">{{boss.bossName}} - {{boss.serverName}}
                    </option>
                </select>
            </div>
            <div ng-if="selectedBoss">
                <h5>Boss</h5>

                <div ng-if="updateSuccess">Boss successfully updated!</div>
                <div ng-if="updateError">Sorry, an error occured while updating the boss. Please try again.</div>
                <form role="form" class="form-horizontal" ng-submit="updateBoss(selectedBoss)">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="bossName">Boss Name: </label>

                        <div class="col-sm-10">
                            <input class="form-control" id="bossName" placeholder="{{selectedBoss.bossName}}" ng-model="selectedBoss.bossName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="currentLife">Current Boss Life:</label>

                        <div class="col-sm-10">
                            <input class="form-control" id="currentLife"
                                   placeholder="{{selectedBoss.currentBossLife}}" ng-model="selectedBoss.currentBossLife">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="constantLife">Constant Boss Life:</label>

                        <div class="col-sm-10">
                            <input class="form-control" id="constantLife" 
                                   placeholder="{{selectedBoss.constantBossLife}}" ng-model="selectedBoss.constantBossLife">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="serverName">Server name:</label>

                        <div class="col-sm-10">
                            <input class="form-control" id="serverName" placeholder="{{selectedBoss.serverName}}" readonly>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default pull-right">Update Boss</button>
                </form>
            </div>
        </div>
    </div>
</div>